@font-face {
  font-family: "Karla";
  src: local('Karla'), url(./assets/fonts/Karla.ttf) format('truetype');
}

@font-face {
  font-family: "Markazi";
  src: local('Markazi'), url(./assets/fonts/Markazi.ttf) format('truetype');
}

body, html, a {
  all: unset;
}

body {
  width: 100vw;
}